@import '../../variables';

.cart {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  background: $white;
  padding: 50px 50px;
  transform: translateX(105%);
  transition: transform 750ms;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.15);

  &.is-visible {
    transform: translateX(0);
    transition: transform 250ms;
  }

  .close-cart {
    border: 0;
    background: transparent;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;

    svg {
      fill: $black;
    }
  }

  .cart-title {
    font-size: 20px;
    line-height: 30px;
    color: $black;
    text-transform: uppercase;

    .item-count {
      margin-left: 12px;
      color: $grey;
    }
  }

  .cart-contents {
    padding-top: 25px;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {
    left: 0;
    width: 100%;
  }
}
