@import '../../variables';

$small: 36px;
$medium: 55px;

.button {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;

    &.light {
      // TODO
    }
    &.dark {
      background: $grey;
    }
  }

  &.light {
    background: $white;
    box-shadow: $light-shadow;

    svg {
      fill: $grey;
    }
  }

  &.dark {
    color: $white;
    background: $black;

    svg {
      fill: $white;
    }
  }

  &.primary {
    color: $white;
    background: $primary;

    svg {
      fill: $white;
    }
  }

  &.small {
    height: $small;

    .icon-square { width: $small; height: $small; }
    .icon { width: 20px; height: 20px; }
  }

  &.medium {
    height: $medium;

    .icon-square { width: $medium; height: $medium; }
    .icon { width: 20px; height: 20px; }
  }

  &.with-inner-border.dark .icon-square,
  &.with-inner-border.primary .icon-square {
    border-right: 1px solid rgba(255,255,255,0.3);
  }
  &.with-inner-border.light .icon-square {
    border-right: 1px solid rgba(0,0,0,0.3);
  }

  .icon-square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-text { padding: 0 30px; font-size: 18px; }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
