@import '../../variables';

.hero {
  position: relative;
  z-index: 6;
  height: 75vh;
  background-size: cover;
  background-position: center center;

  .sticky-logo {
    position: absolute;
    bottom: 0;
    padding-left: $main-content-border-size;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
