@import '../../variables';

.hero {
  position: relative;
  z-index: 6;
  height: 75vh;
  background-size: cover;
  background-position: center center;

  .sticky-logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .inner-wrapper .inner-wrapper-contents {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
