@import '../../variables';
@import '../../mixins';

.header-contents {
  position: fixed;
  z-index: 7;
  height: $header-height;
  line-height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 0 $main-content-border-size * 2;
  max-width: $max-width;
  margin: 0 auto;

  .cart-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 6px 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    .cart-text {
      display: inline-block;
      margin-right: 4px;
    }

    .icon {
      vertical-align: top;
    }
  }
  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
