@import '../../variables';

.logo {
  display: inline-block;
  font-size: 36px;
  line-height: $header-height;
  font-weight: bold;
  font-family: sans-serif;

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
