@import '../../variables';

.inner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  &.regular .inner-wrapper-contents {
    max-width: $max-width-inner;
  }

  &.narrow .inner-wrapper-contents {
    max-width: $max-width-inner-narrow;
  }

  .inner-wrapper-contents {
    position: relative;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
