@import '../../variables';

.header-backdrop {
  position: fixed;
  z-index: 5;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  max-width: $max-width;
  margin: 0 auto;
  background: $offwhite;

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
