@import '../../variables';
@import '../../mixins';

.products-list {
  position: relative;
  z-index: 2;
  min-height: 1000px;
  background: $offwhite;

  .products-list-card {
    position: relative;
    min-height: 800px;
    box-shadow: $light-shadow;
    background: $white;
    transform: translateY(-64px);

  }

  .products-list-filter, .products-list-item {
    border-bottom: 1px solid $lightgrey;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
