// Colours
$white: #FFF;
$offwhite: #f5f5f5;
$grey: #686868;
$darkgrey: #282828;
$black: #1e1e1e;

$darknavy: #1a1b23;
$blue: #679df6;

$primary: $blue;


// Breakpoints
$mq-mobile: 540px;
$mq-tablet: 1024px;


// Sizes
$header-height: 60px;
$main-content-border-size: 10px; // NOTE: Also in mission-critical index.html
$max-width: 1440px; // NOTE: Also in mission-critical index.html
