// Colours
$white: #FFF;
$offwhite: #f5f5f5; // NOTE: Also in mission-critical index.html
$lightgrey: #cccccc;
$grey: #686868;
$darkgrey: #282828; // NOTE: Also in mission-critical index.html
$black: #1e1e1e; // NOTE: Also in mission-critical index.html

$darknavy: #1a1b23;
$blue: #679df6;
$red: #da001f;

$primary: $blue;
$error: $red;

// Breakpoints
$mq-mobile: 540px;
$mq-tablet: 1024px;


// Sizes
$header-height: 60px;
$main-content-border-size: 10px; // NOTE: Also in mission-critical index.html
$max-width: 1440px; // NOTE: Also in mission-critical index.html
$max-width-inner: 1250px;
$max-width-inner-narrow: 900px;


// Misc
$light-shadow: 0px 2px 3px rgba(0,0,0,0.175);
