@import '../../variables';
@import '../../mixins';

.map {
  position: relative;
  z-index: 1;
  min-height: 400px;

  .map-controls {
    @include inner-wrapper;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 64px;

    .zoom-controls {
      position: absolute;
      bottom: 35px;
      display: flex;
      flex-direction: column;
    }
  }

  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background: rgba(0,0,0,0.05);
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
