@import '../../variables';

.map {
  position: relative;
  min-height: 400px;

  .zoom-control {
    position: absolute;
    z-index: 10;
    background: #FFF;
    padding: 1rem;
    right: 0;
    top: 0;
  }

  @media screen and (max-width: $mq-tablet) {

  }

  @media screen and (max-width: $mq-mobile) {

  }
}
